python-dotenv
langchain
langgraph
pyyaml
pandas
streamlit
matplotlib
seaborn
langchain_openai
langchain_ibm
langchain_community
langchain-google-genai
google-generativeai
openai
ibm_watsonx_ai>=1.2.8
tqdm
numpy
pyarrow>=15.0.0